@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel Veriler";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<style>
    .btnSil{
        color:white !important;
    }
</style>
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <p>Hesabınız bize verdiğiniz kişisel verileri içerir. Bu sayfa, bu verileri indirmenize veya silmenize olanak tanır.</p>
        <p>
            <strong>Bu verilerin silinmesi hesabınızı kalıcı olarak siler ve bu veriler kurtarılamaz.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn yesil mb-2" type="submit">İndir</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btnSil btn-danger">Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
