@{
    ViewData["Title"] = "Belgeler";
}

<div class="container mt-5">
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteConfirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Belgeyi Sil</h5>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Vazgeç</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Sil</button>
                </div>
            </div>
        </div>
    </div>

    <h2>Belge Listesi</h2>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="startDate">Başlangıç Tarihi:</label>
            <input type="date" class="form-control" id="startDate">
        </div>
        <div class="col-md-4">
            <label for="endDate">Bitiş Tarihi:</label>
            <input type="date" class="form-control" id="endDate">
        </div>
        <div class="col-md-4">
            <label></label>
            <button id="filterBtn" class="btn yesil mt-4">Sorgula</button>
        </div>
    </div>

    <table class="table datatable table-bordered" id="belgeTable">
        <thead>
            <tr>
                <th>Belge Numarası</th>
                <th>VKN/TCKN</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Düzenleme Tarihi</th>
                <th>Fatura Tipi</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>İşlemler</th>
                }
            </tr>
        </thead>
        <tbody>
            <!-- Veriler burada görüntülenecek -->
        </tbody>
    </table>
</div>

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="~/css/styles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        window.alert = function () {
            try { console.log('alert prevented') } catch (e) { }
        }
        alert('test');
        let table;
        function fetchData(startDate, endDate) {
            $.ajax({
                url: "https://localhost:7087/api/BelgelerApi",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var belgeTable = $("#belgeTable tbody");
                    belgeTable.empty();
                    data.forEach(function (belge) {
                        var belgeDuzenlemeTarihi = new Date(belge.belgeDuzenlemeTarihi);
                        var formattedDate = belgeDuzenlemeTarihi.toLocaleDateString('tr-TR');
                        var formattedTime = belgeDuzenlemeTarihi.toLocaleTimeString('tr-TR', {
                            hour: '2-digit',
                            minute: '2-digit'
                        });

                        if (startDate && endDate) {
                            endDate.setHours(23, 59, 59, 999);

                            var belgeDate = new Date(belge.belgeDuzenlemeTarihi);

                            if (!(belgeDate >= startDate && belgeDate <= endDate)) {
                                return;
                            }
                        }


                        var row = "<tr>" +
                            "<td><a href='#' class='belge-detail' data-belge-id='" + belge.belgeNumarasi + "'>" + belge.belgeNumarasi + "</a></td>" +
                            "<td>" + belge.vknTckn + "</td>" +
                            "<td>" + belge.ad + "</td>" +
                            "<td>" + belge.soyad + "</td>" +
                            "<td>" + formattedDate + "</td>" +
                            "<td>" + belge.faturaTipi + "</td>";
                        // Sadece admin kullanıcılar için Sil düğmesi ekle
                        if ($("#belgeTable th:contains('İşlemler')").length > 0) {
                            row += "<td><button class='btn btn-danger btn-sm delete-button'>Sil</button></td>";
                        }

                        row += "</tr>";
                        belgeTable.append(row);
                    });


                    table = new DataTable('#belgeTable', {
                        responsive: true,
                        "pageLength": 5,
                        "lengthMenu": [[5, 10, 30, -1], [5, 10, 30, "Hepsi"]],
                        language: {
                            "decimal": "",
                            "emptyTable": "Tabloda herhangi bir veri mevcut değil",
                            "info": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                            "infoEmpty": "",
                            "infoFiltered": "(_MAX_ kayıt içerisinden filtrelendi)",
                            "infoPostFix": "",
                            "thousands": ".",
                            "lengthMenu": "Sayfada _MENU_ kayıt göster",
                            "loadingRecords": "Yükleniyor...",
                            "processing": "İşleniyor...",
                            "search": "Ara:",
                            "zeroRecords": "Eşleşen kayıt bulunamadı",
                            "paginate": {
                                "first": "İlk",
                                "last": "Son",
                                "next": "Sonraki",
                                "previous": "Önceki"
                            },
                            "aria": {
                                "sortAscending": ": artan sütun sıralamasını aktifleştir",
                                "sortDescending": ": azalan sütun sıralamasını aktifleştir"
                            },
                        }
                    });

                },
                error: function (error) {
                    console.error("Veri çekme hatası:", error);
                }
            });
        }
        fetchData(null, null);
        $("#filterBtn").on("click", function () {
            var startDate = $("#startDate").val() ? new Date($("#startDate").val()) : null;
            var endDate = $("#endDate").val() ? new Date($("#endDate").val()) : null;
            table.clear().draw();
            fetchData(startDate, endDate);
        });
        $(document).on('click', '.delete-button', function () {
            var row = $(this).closest('tr');
            var belgeNumarasi = row.find('td:eq(0)').text();

            $('#deleteConfirmationModal').modal('show');

            $('#confirmDeleteButton').off('click').on('click', function () {
                $.ajax({
                    url: 'https://localhost:7087/api/BelgelerApi/' + belgeNumarasi,
                    type: 'DELETE',
                    success: function (result) {
                        row.remove();
                        location.reload();
                        $('#deleteConfirmationModal').modal('hide');
                    },
                    error: function (error) {
                        console.error('Silme hatası:', error);
                        $('#deleteConfirmationModal').modal('hide');
                    }
                });
            });

            $('#cancel').off('click').on('click', function () {
                $('#deleteConfirmationModal').modal('hide');
            });
        });


        $(document).on('click', '.belge-detail', function (e) {
            e.preventDefault();

            var belgeNumarasi = $(this).data('belge-id');
            $.ajax({
                url: 'https://localhost:7087/api/BelgelerApi/' + belgeNumarasi,
                type: 'GET',
                dataType: 'json',
                success: function (belgeDetay) {
                    var modalContent =
                        "<div class='modal fade' id='belgeDetailModal'>" +
                        "<div class='modal-dialog modal-xl'>" +
                        "<div class='modal-content'>" +
                        "<div class='modal-header'>" +
                        "<h5 class='modal-title'>Belge Detayı</h5>" +
                        "<button id='downloadButton' class='btn yesil ml-2'><i class='bi bi-download'></i>  PDF Olarak İndir</button>" +
                        "<button id='printButton' class='btn yesil ml-2'><i class='bi bi-printer'></i>  Yazdır</button>" +
                        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                        "<span aria-hidden='true'>&times;</span>" +
                        "</button>" +
                        "</div>" +
                        "<div id='belgeDetail' class='modal-body position-relative'>" +
                        "<div class='invoice-watermark'>İMZASIZ TEST BELGESİ</div>" +
                        "<div class='invoice-header'>" +
                        "<div class='row'>" +
                        "<div class='col-md-6'>" +
                        "<strong>Esk Yazılım</strong><br>" +
                        "Mustafa Kemal Paşa Mahallesi No:6 Kapı No:200A<br>Kocasinan / Kayseri / Türkiye<br>" +
                        "Tel: 5059284471<br>" +
                        "Vergi Dairesi: Kocasinan" +
                        "</div>" +
                        "<div class='col-md-6 text-right'>" +
                        "<strong>e-Arşiv Fatura</strong><br>" +
                        "<img src='/Uploads/qrkod.png' alt='QR Code' class='w-25'>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='invoice-to'>" +
                        "<strong>SAYIN</strong><br>" +
                        "Ad: " + belgeDetay.ad + "<br>" +
                        "Soyad: " + belgeDetay.soyad + "<br>" +
                        "VKN/TCKN: " + belgeDetay.vknTckn + "<br>" +
                        "Şehir: " + belgeDetay.sehir + "<br>" +
                        "Mahalle/Semt: " + belgeDetay.mahalleSemt + "<br>" +
                        "</div>" +
                        "<table class='invoice-table'>" +
                        "<tr>" +
                        "<th>Fatura Tipi:</th>" +
                        "<td>" + belgeDetay.faturaTipi + "</td>" +
                        "<th>Belge Numarası:</th>" +
                        "<td>" + belgeDetay.belgeNumarasi + "</td>" +
                        "<th>Düzenlenme Tarihi:</th>" +
                        "<td>" + new Date(belgeDetay.belgeDuzenlemeTarihi).toLocaleString('tr-TR') + "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<th>Sıra No</th>" +
                        "<th>Mal Hizmet</th>" +
                        "<th>Miktar</th>" +
                        "<th>Birim Fiyat</th>" +
                        "<th>İskonto/Artırım Tutarı</th>" +
                        "<th>İskonto/Artırım Nedeni</th>" +
                        "<th>KDV Oranı</th>" +
                        "<th>KDV Tutarı</th>" +
                        "<th>Mal Hizmet Tutarı</th>" +
                        "</tr>" +
                        "<tr>" +
                        "<td>1</td>" +
                        "<td>" + belgeDetay.malHizmet + "</td>" +
                        "<td>" + belgeDetay.miktar + "</td>" +
                        "<td>" + belgeDetay.birimFiyat.toFixed(2) + " TL</td>" +
                        "<td>0,00 TL</td>" +
                        "<td>İskonto - %0,00</td>" +
                        "<td>%0,00</td>" +
                        "<td>0,0 TL</td>" +
                        "<td>" + belgeDetay.tutar.toFixed(2) + "</td>" +
                        "</tr>" +
                        "</table>" +
                        "<div class='invoice-footer'>" +
                        "<strong>ETTN:</strong> 8hd9wer34r-f0c9-4dae-9b30-d73şg982nf" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>";

                    $('#belgeDetailModal').remove();
                    $('body').append(modalContent);
                    $('#belgeDetailModal').modal('show');
                    $(document).on('click', '.close', function () {
                        $('#belgeDetailModal').modal('hide');
                    });
                    
                },
                error: function (error) {
                    console.error('Belge detayı getirme hatası:', error);
                }

            });

        });

        $(document).on('click', '#downloadButton', function () {
            var element = document.querySelector('#belgeDetail');

            var opt = {
                filename: 'belge.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // PDF Oluşturma ve Kaydetme
            html2pdf()
                .set(opt)
                .from(element)
                .toPdf()
                .get('pdf')
                .then(function (pdf) {
                    pdf.save();
                });
            $('#belgeDetailModal').modal('show');
            $(document).on('click', '.close', function () {
                $('#belgeDetailModal').modal('hide');
            });

        });
        $(document).on('click', '#printButton', function () {
            var element = document.getElementById('belgeDetail');

            var originalContents = document.body.innerHTML;
            var printContents = element.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            location.reload();

        });

    });
</script>
