html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.yesil {
    background-color: #00937C !important;
    color: white !important;
}
    .yesil:hover {
        background-color: #02BDA8 !important;
    }

.title {
    color: #00937C;
}

a {
    color: #00937C !important;
}

    a:hover {
        color: #02BDA8 !important;
    }


@media (max-width: 1150px) {
    #belgeTable th, #belgeTable td {
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
    }
    #belgeTable {
        max-width:300px;
    }
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.invoice-header, .invoice-footer {
    margin: 10px 0;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-title {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.invoice-watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: rgba(255, 0, 0, 0.3);
    pointer-events: none;
    z-index: 0;
}