html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.yesil {
    background-color: #00937C !important;
    color: white !important;
}
    .yesil:hover {
        background-color: #02BDA8 !important;
    }

.title {
    color: #00937C;
}

a {
    color: #00937C !important;
}

    a:hover {
        color: #02BDA8 !important;
    }